SpringBootProject/HELP.md
SpringBootProject/target/
SpringBootProject/!.mvn/wrapper/maven-wrapper.jar
SpringBootProject/!**/src/main/**/target/
SpringBootProject/!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
SpringBootProject/.idea
SpringBootProject/*.iws
SpringBootProject/*.iml
SpringBootProject/*.ipr
