SpringBootProject/HELP.md
SpringBootProject/target/
SpringBootProject/!.mvn/wrapper/maven-wrapper.jar
SpringBootProject/!**/src/main/**/target/
SpringBootProject/!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
SpringBootProject/.idea
SpringBootProject/*.iws
SpringBootProject/*.iml
SpringBootProject/*.ipr

/Main/.idea/dataSources/974748a3-2ad3-4b3d-b0cd-dc7e9a4e98ce/storage_v2/_src_/schema/*.*
